@charset "utf-8";
img {
  width: 100%;
}
* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-size: 1.3rem;
  color: white;
  font-family: 'Noto Serif JP', serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
h1, h2{
  font-family: 'Fredoka One', cursive;
}
h1 {
  font-size: 3rem;
  margin-bottom: 55px;
  font-weight: normal;
}
h2 {
  font-size: 1.8rem;
  letter-spacing: -1.5px;
}
.flex {
  display: flex;
}
.wrapper {
  max-width: 770px;
  margin: 0 auto;
}
body.nav_op {
  /*　この部分　スマホ　ハンバーガーメニューに必要　*/
  overflow: hidden;
  width: 100%;
  position: fixed;
}
.g_nav li a:hover {
  color: white;
}
.g_nav_toggle {
  display: none;
}
main {
  overflow: hidden;
  margin-top: 50px;
}


/*header*/
header {
  background: rgba(199, 199, 199, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.flex a {
  color: black;
}
.logo {
  width: 10%;
  margin: 10px 0 0 10px;
}
nav {
  margin: 15px 0 0 500px;
}
header li {
  margin-right: 25px;
  font-size: 1.1rem;
  font-weight: bold;
}
header li:last-child {
  width: 2%;
  margin: 0 20px 0 auto;
}

/*mainvisual*/
.mainvisual {
  background: url(../img/main-b.png) bottom / cover fixed;
  height: 130vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainvisual img {
  width: 45%;
}

/*news*/
#news {
  background: url(../img/news.png) bottom / cover fixed;
  opacity: 0.8;
  padding: 6% 0 10% 0;
}
.article {
  margin: 30px 0 0 30px;
}
.article h2 {
  font-size: 1.8rem;
  letter-spacing: -1.5px;
  font-weight: normal;
}
.article p {
  font-weight: bold;
  margin: -15px 0 0 30px;
  background: rgb(31, 31, 31);
  border-radius: 10px;
  padding: 25px 0 15px 20px;
}


/*mission value*/
#missionvalue {
  background: url(../img/mission.png) bottom / cover fixed;
  font-weight: bold;
  padding: 6% 0 10% 0;
}
#missionvalue .wrapper h2,
#entry h2 {
  font-family: 'Noto Serif JP', serif;
  font-size: 2rem;
}
#missionvalue .wrapper > h2::before {
  content: "――";
  letter-spacing: -10px;
  margin-right: 20px;
}
#missionvalue .wrapper > h2 {
  font-size: 2.7rem;
  margin-bottom: 80px;
}
.paragraph2 {
  margin: 60px 0 100px 0;
}
.paragraph2 > p{
  margin-top: 25px;
}
.paragraph1 {
  margin-top: 40px;
}
.b_border {
  margin-bottom: 70px;
  border-bottom: 1px solid white;
  padding-bottom: 100px;
}
span {
  font-size: 1.8rem;
}
.thema {
  margin-top: 60px;
}
.thema > h2 {
  display: inline-block;
  position: relative;
  z-index: 2;
}
.thema > h2::before {
  z-index: -1;
  content: "";
  width: 100%;
  height: 4px;
  background-color: rgba(255, 255, 255,0.5);
  display: inline-block;
  position: absolute;
  bottom: 0;
}
.thema > p {
  margin-top: 30px;
  font-size: 1.35rem;
}


/*entry*/
#entry {
  color: black;
  background: rgb(228, 228, 228);
  padding: 6% 0 10% 0;
  font-weight: bold;
}
#entry .wrapper > h2 {
  margin-top: 60px;
}
.entry li {
  font-size: 1.3rem;
}
.purple-border {
  position: relative;
  padding-bottom: 10px;
}
.purple-border::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 8px;
  background-image: repeating-linear-gradient(45deg, #773091 0px, #773091 1px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%);
  background-size: 8px 8px;
}
.entry {
  margin-top: 30px;
}
.entry ul {
  margin: 30px 0 20px 0;
}
.entry > p {
  font-size: 1rem;
}
.caution li {
  font-size: 1rem;
  margin: 10px 0;
}
.caution a {
  text-decoration: underline;
}
.caution li, .entry li {
  list-style: disc;
  margin-left: 20px;
}
.smoll {
  font-size: 1rem;
}
.schedule {
  margin-top: 40px;
}
.step h2,
.step p {
  margin-left: 22.5px;
  border-left: solid 2px rgb(158, 104, 158);
  padding: 10px 0 0 40px;
}
.step .step-last {
  border-left: none;
  margin-left: 25px;
}
.step h3 {
  color: rgb(158, 104, 158);
  font-size: 2.5rem;
  display: flex;
}
.step h3::before {
  content: "";
  flex: 0 0 45px;
  height: 45px;
  border-radius: 50%;
  background: rgb(158, 104, 158);
  margin: 5px 20px 0 0;
}
.step h2 {
  margin-top: 10px;
}
.step p {
  color: rgb(99, 99, 99);
  padding-bottom: 40px;
}

.answer {
  text-align: center;
  background: rgb(250, 85, 85);
  opacity: 0.9;
  margin-top: 100px;
  padding: 3%;
}
.answer h2 {
  color: white;
  border-bottom: 1px solid white;
  padding-bottom: 15px;
}
.answer p {
  color: rgb(250, 85, 85);
  background: white;
  border-radius: 15px;
  display: inline-block;
  margin-top: 20px;
  padding: 3% 30%;
  font-weight: bold;
}


/*operation*/
#operation {
  background: url(../img/ope.png) bottom / cover fixed;
  padding: 6% 0 5% 0;
  font-weight: bold;
}
#operation h1 {
  margin-bottom: 10px;
}
#operation h2 {
  font-size: 1.4rem;
  font-family: 'Noto Serif JP', serif;
  display: inline-block;
  letter-spacing: 0.5px;
}
.operation {
  width: 50%;
  margin: 60px 30px 30px 30px;
}
.operation img {
  width: 50%;
  margin-right: 100%;
}
.operation > h2 {
  margin: 10px 0;
}
.operation p {
  font-size: 0.82rem;
  letter-spacing: 1.7px;
  line-height: 1.4rem;
}

/*contact*/
#contact {
  background: black;
  padding: 6% 0 8% 0;
  font-weight: bold;
  text-align: center;
}
#contact p {
  margin-top: 10px;
}
#contact p:last-child {
  font-size: 1rem;
}


/*footer*/
footer {
  background: url(../img/footer.png) bottom / cover;
  padding: 6% 0 5% 0;
  text-align: center;
}
footer img {
  width: 30%;
}
footer p {
  font-size: 0.8rem;
  margin-top: 50px;
}

/*media*/
@media screen and (max-width: 670px){
  body {
    font-size: 0.9rem;
  }
  .wrapper {
    padding: 5%;
  }
  .mainvisual {
    height: 40vh;
  }
  main {
    margin-top: 37px;
  }
  h1 {
    font-size: 2.3rem;
  }
  nav {
    margin: 0;
  }
  .logo {
    width: 25%;
  }
  .article {
    margin: 0 0 30px 0;
  }
  .article h2 {
    font-size: 1rem;
    font-weight: normal;
  }
  .article h2, .article p {
    margin-left: 0;
  }
  .article p {
    padding: 20px 10px 10px 10px;
    margin: -5px 0 0 0;
  }
  #missionvalue .wrapper > h2 {
    font-size: 1.5rem;
  }
  .paragraph2 {
    margin: 30px 0;
  }
  span {
    font-size: 1.2rem;
  }
  #missionvalue .wrapper h2, #entry h2 {
    font-size: 1.1rem;
  }
  .thema p {
    margin-top: 15px;
    font-size: 0.7rem;
    letter-spacing: 2px;
  }
  #entry .wrapper > h2 {
    margin-top: 40px;
  }
  .entry li {
    font-size: 0.8rem;
    margin: 0;
  }
  .entry > p {
    font-size: 0.7rem;
  }
  .smoll {
    font-size: 0.7rem;
    margin-left: 10px;
    font-weight: normal;
  }
  .schedule {
    margin-top: 20px;
  }
  .step h3::before {
    content: "";
    flex: 0 0 30px;
    height: 30px;
    border-radius: 50%;
    background: rgb(158, 104, 158);
    margin: 0 10px 0 0;
  }
  .step h2,
  .step p {
    margin-left: 15px;
    padding-left: 25px;
  }
  .step h2 {
    margin-top: 10px;
  }
  .step p {
    font-size: 0.75rem;
    padding: 10px 0 30px 25px;
    margin-bottom: 5px;
    letter-spacing: 0.5px;
    line-height: 1.2rem;
  }
  .step .step-last {
    margin-left: 16px;
  }
  .step h3 {
    font-size: 1.5rem;
  }
  .caution li {
    font-size: 0.68rem;
    margin-top: 2px;
    font-weight: normal;
    letter-spacing: 0.8px;
    line-height: 1rem;
  }
  .caution li, .entry li {
    margin-left: 20px;
  }
  .answer {
    margin-top: 4
    0px;
  }
  .g_nav {
    margin: 0 auto;
  }
  .flex a {
    color: white;
  }
  
  .g_nav_toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 5px;
    margin: 11px;
    padding: 3px 0;
    width: 32px;
    height: 20px;
    z-index: 10;
    cursor: pointer;
  }
  .g_nav_toggle .bar {
    height: 2px;
    background: #383838;
    transition: all 0.2s ease-out 0s;
  }
  .nav_op .g_nav_toggle .bar {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0 auto;
  }
  .nav_op .g_nav_toggle .bar:first-child {
    transform: translateY(-50%) rotate(45deg);
  }
  .nav_op .g_nav_toggle .bar:nth-child(2) {
    transform: scale(0);
  }
  .nav_op .g_nav_toggle .bar:nth-child(3) {
    transform: translateY(-50%) rotate(-45deg);
  }
  .g_nav_wrap {
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20%;
    width: 100%;
    height: 100vh;
    transform: translateY(-100%);
    background: rgba(0, 0, 0, 0.8);
    overflow: auto;
    transition: all 0.2s ease-out 0s;
    z-index: 2;
  }
  .nav_op .g_nav_wrap {
    transform: none;
  }
  .g_nav {
    font-size: inherit;
    display: block;
    position: static !important;
    padding: 0 !important;
    margin-top: 2rem;
    background: transparent;
  }
  .g_nav li {
    margin: 20px 0;
    text-align: center;
  }
  .g_nav li a:after {
    display: none;
  }
  .g_nav li a .name_wrap {
    display: inline-block !important;
  }
  header li:last-child {
    margin: 20px auto;
    width: 5%;
  }
  #operation .wrapper .flex {
    display: block;
  } 
  #operation .wrapper > h2 {
    font-size: 0.85rem;
    margin-bottom: 40px;
  }
  .operation {
    width: 90%;
    margin: 0 auto;
  }
  #operation .wrapper .flex .operation h2 {
    font-size: 1.2rem;
  }
  .operation p {
    margin-bottom: 60px;
    font-size: 0.78rem;
    font-weight: normal;
    letter-spacing: 1.2px;
  }
  #contact {
    padding: 25% 0;
  }
  #contact p:last-child {
    font-size: 0.8rem;
  }
  footer {
    padding: 10% 0;
  }
  footer img {
    width: 25%;
  }
  footer p {
    margin-top: 20px;
    font-size: 0.7rem;
  }
}



/*Vtuver.html*/
#vtuber {
  background: url(../img/vtuber.png) bottom / cover fixed;
  padding: 6% 0 5% 0;
  opacity: 0.95;
  font-weight: bold;
}
.vtuber .wrapper {
  text-align: center;
}
.vtuber h1 {
  margin-bottom: 10px;
}
.vtuber > h2 {
  font-size: 1.6rem;
  font-family: 'Noto Serif JP', serif;
  margin-bottom: 70px;
}
.vtuber h3 {
  margin-top: 10px;
}
.vtuber img {
  width: 70%;
}
.vtuber h3 {
  display: inline-block;
  color: white;
  font-size: 1.2rem;
}
.vtuber .wrapper ul {
  display: flex;
  flex-wrap: wrap;
}
.vtuber .wrapper ul li {
  width: 46%;
  margin-bottom: 70px;
}
.left-li {
  margin-right: auto;
}

@media screen and (max-width: 670px) {
  .vtuber h1 {
    margin: 30px 0 0 0;
    font-size: 2.2rem;
  }
  .vtuber h2 {
    font-size: 0.9rem;
    letter-spacing: 1px;
    margin-bottom: 20px;
  }
  .vtuber h3 {
    font-size: 0.7rem;
  }
}

/*profile*/
.profile {
  position: relative;
  height: 400px;
  padding-top: 20px;
}
.profile img {
  width: 33%;
  object-fit: contain;
  top: 0;
  left: 0;
}
.profile .flex div {
position: absolute;
top: 10;
right: 0;
width: 58%;
text-align: center;
}
.profile h3 {
  font-size: 1.8rem;
  padding-bottom: 15px;
}
.profile .flex div .tw {
  top: 80px;
  left: 115px;
  align-items: center;
}
.tw > a {
  width: 35%;
}
.tw img {
  margin-right: 0;
}
.profile p {
  text-align: left;
  font-size: 0.8rem;
  padding-top: 20px;
  margin-top: 70px;
  border-top: 1px solid white;
  line-height: 23px;
  letter-spacing: 1px;
}
.vtuber > a p{
  color: white;
  text-align: center;
  font-size: 0.75rem;
  letter-spacing: 1px;
  margin: 50px 0 100px 0;
}
.vtuber > a p::after{
  content: "⇦";
}
